@page "/grinder"

@using EspressoJournal.Data
@using Radzen
@using Radzen.Blazor
@using Microsoft.AspNetCore.Components.Web
@using EspressoJournal.Models
@using System.Net.Http.Json
@inject GrinderDataAccess dataAccess

<h3>Grinder</h3>

<style>
    .rz-grid-table {
        width: unset;
    }
</style>

<RadzenDataGrid @ref="grinderGrid" AllowAlternatingRows="false" AllowFiltering="true" AllowPaging="true" PageSize="5"
    AllowSorting="true" EditMode="@editMode" Data="@grinders" TItem="GrinderModel" RowUpdate="@OnUpdateRow"
    RowCreate="@OnCreateRow" Sort="@Reset" Page="@Reset" Filter="@Reset" ColumnWidth="200px">
    <HeaderTemplate>
        <RadzenButton ButtonStyle="ButtonStyle.Success" Icon="add_circle" Text="Add New Grinder" Click="@InsertRow"
            Disabled="@(editMode == DataGridEditMode.Single && grindersToInsert.Count() > 0)" />
    </HeaderTemplate>
    <Columns>
        <RadzenDataGridColumn Property="GrinderModel.ID" Title="Grinder ID" Width="120px" Frozen="true" />

        <RadzenDataGridColumn Property="GrinderModel.BrandName" Title="Brand Name">
            <EditTemplate Context="grinder">
                <RadzenTextBox @bind-Value="grinder.BrandName" Style="width:200px; display: block" Name="BrandName"
                    aria-label="Enter grinder brand name" />
                <RadzenRequiredValidator Text="BrandName is required" Component="BrandName" Popup="true" />
            </EditTemplate>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn Property="Grinder.ModelName" Title="Model Name">
            <EditTemplate Context="grinder">
                <RadzenTextBox @bind-Value="grinder.ModelName" Style="width:200px; display: block" Name="ModelName"
                    aria-label="Enter grinder model name" />
                <RadzenRequiredValidator Text="ModelName is required" Component="ModelName" Popup="true" />
            </EditTemplate>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn Context="grinder" Filterable="false" Sortable="false" TextAlign="TextAlign.Right"
            Frozen="true" FrozenPosition="FrozenColumnPosition.Right">
            <Template Context="grinder">
                <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat"
                    Size="ButtonSize.Medium" Click="@(args => EditRow(grinder))" @onclick:stopPropagation="true">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat"
                    Shade="Shade.Lighter" Size="ButtonSize.Medium" class="rz-my-1 rz-ms-1"
                    Click="@(args => DeleteRow(grinder))" @onclick:stopPropagation="true">
                </RadzenButton>
            </Template>
            <EditTemplate Context="grinder">
                <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Success" Variant="Variant.Flat"
                    Size="ButtonSize.Medium" Click="@((args) => SaveRow(grinder))" aria-label="Save">
                </RadzenButton>
                <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat"
                    Size="ButtonSize.Medium" class="rz-my-1 rz-ms-1" Click="@((args) => CancelEdit(grinder))"
                    aria-label="Cancel">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat"
                    Shade="Shade.Lighter" Size="ButtonSize.Medium" class="rz-my-1 rz-ms-1"
                    Click="@(args => DeleteRow(grinder))" aria-label="Delete">
                </RadzenButton>
            </EditTemplate>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

@code {
    RadzenDataGrid<GrinderModel> grinderGrid;
    DataGridEditMode editMode = DataGridEditMode.Single;
    IEnumerable<GrinderModel> grinders;
    List<GrinderModel> grindersToInsert = new List<GrinderModel>();
    List<GrinderModel> grindersToUpdate = new List<GrinderModel>();

    private void Reset()
    {
        grindersToInsert.Clear();
        grindersToUpdate.Clear();
    }

    private void Reset(GrinderModel grinder)
    {
        grindersToInsert.Remove(grinder);
        grindersToUpdate.Remove(grinder);
    }

    // Load data from the database
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        grinders = await dataAccess.GetGrindersAsync();
    }

    // Prepares the grid for inserting (create) a new row
    // Triggered by the click event of the Add New Grinder button
    private async Task InsertRow()
    {
        if (editMode == DataGridEditMode.Single)
        {
            Reset();
        }

        var newGrinder = new GrinderModel();

        // grindersToInsert.Add(newGrinder);

        // call underlying radzen datagrid method to insert row
        await grinderGrid.InsertRow(newGrinder);
    }

    // Persist new GrinderModel to the database
    // Triggered by the RowCreate event of the RadzenDataGrid
    private async Task OnCreateRow(GrinderModel grinder)
    {
        // Logic to handle the row creation
        await dataAccess.AddGrinderAsync(grinder);

        // grindersToInsert.Remove(grinder);
    }

    // Prepares the grid for editing an existing row
    // Triggered by the click event of the Edit Grinder button
    private async Task EditRow(GrinderModel grinder)
    {
        if (editMode == DataGridEditMode.Single && grindersToInsert.Count() > 0)
        {
            //Reset();
        }

        grindersToUpdate.Add(grinder);
        await grinderGrid.EditRow(grinder);
    }

    // Persist edited GrinderModel to the database
    // Triggered by the RowUpdate event of the RadzenDataGrid
    private async Task OnUpdateRow(GrinderModel grinder)
    {
        // Reset(grinder);

        await dataAccess.UpdateGrinderAsync(grinder);

    }


    private void SaveRow(GrinderModel grinder)
    {
        grinderGrid.UpdateRow(grinder);
    }

    private void CancelEdit(GrinderModel grinder)
    {
        // Reset(grinder);

        grinderGrid.CancelEditRow(grinder);

        @* var orderEntry = dbContext.Entry(order);
        if (orderEntry.State == EntityState.Modified)
        {
            orderEntry.CurrentValues.SetValues(orderEntry.OriginalValues);
            orderEntry.State = EntityState.Unchanged;
        } *@
    }

    private async Task DeleteRow(GrinderModel grinder)
    {
        // Reset(grinder);

        if (grinders.Contains(grinder))
        {
            await dataAccess.DeleteGrinderAsync(grinder);
            await grinderGrid.Reload();
        }
        else
        {
            grinderGrid.CancelEditRow(grinder);
            await grinderGrid.Reload();
        }
    }
}
